@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

#portfolio {
    padding-top: 50px;
    .row {
        max-width: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .row > h1 {
        text-align: center;
    }  
}

.portfolio-item{
    width: 50vw;
    height: 70vh;
}

#portfolio .portfolio-header h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
    color: black;
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

.slider{
    width: 90vw;
    // height: 50vh;
    margin: auto;
}
